body {
    background-color: #c6d7de;
    font-family: 'Montserrat';
    padding: 3em;
}

#v0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#set-height {
    display: block;
}